<div class="container" *ngIf="!isRatingCompleted">
  <button (click)="processPrevBook()" class="buttonPrev">Предишна книга</button>
    <div class="book-placeholder">

      <div class="book-placeholder--title">
        {{BookCollection[index].number }}
      </div>

      <div class="book-placeholder--title">
      {{BookCollection[index].title||'Няма заглавие' }}
    </div>

    <div class="book-placeholder--desc">
      {{BookCollection[index].desc||'Няма описание' }}
    </div>

    <div class="book-placeholder--author">
      {{BookCollection[index].author||'Няма автор' }}
    </div>

      <div class="book-data">
      <input (input)="processInputBookTitle($event)" type="text" placeholder="Заглавие на книгата">
      <input (input)="processInputBookDesc($event) "type="text" placeholder="Описание на книгата">
      <input (input)="processInputBookAuthor($event)" type="text" placeholder="Автор на книгата">
      <button (click)="processSaveBookData()">Запази книгата</button>
      <p>{{rating}}</p>
    </div>
    </div>

    <ng-container *ngIf="index === BookCollection.length - 1&& BookCollection[index].rating !== 0">
      <button (click)="AllDone()">Добре съм</button>
      <button (click)="rateAgain()">Оцени отново</button>
    </ng-container>

    <div class="star-rating-container">
      <button *ngFor="let rating of [1, 2, 3, 4, 5]" (click)="rateBook(rating)" class="star-rating">&#9733;</button>
    </div>

</div>
<p>{{ completionMessage }}</p>
<div *ngIf="isRatingCompleted">
  <ul>
    <li *ngFor="let book of BookCollection">
      {{ book.number }} - {{ book.title || 'Няма заглавие' }} - {{ book.author || 'Няма автор' }} - Рейтинг: {{ book.rating.toFixed(1) || 'Няма рейтинг' }}
    </li>
  </ul>
</div>
